<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Olympics Parallel</title>
</head>
<body>
<section class="container">
    <div class="row p-5">
        <h1 class="display-3">You can see<br><strong>olympics stats</strong><br>only after login!</h1>
    </div>
    <div class="row p-5">
        <a class="btn btn-info mx-3" href="login">Login</a><a class="btn btn-light mx-3" href="signup">Sign up</a>
    </div>
</section>
</body>
</html>
