<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Infinity</title>
</head>
<body>
<section>
    {{> menu}}
    <div class="p-1  text-center">
        <p>Size of processed list: {{#infinityItemSize}}{{infinityItemSize}}{{/infinityItemSize}}</p>
        <p>Thread count: {{#infinityThreadCount}}{{infinityThreadCount}}{{/infinityThreadCount}}</p>
        <p>Batch step: {{#infinityBatchStep}}{{infinityBatchStep}}{{/infinityBatchStep}}</p>
    </div>
    <div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">Position</th>
                <th scope="col">Thread name</th>
                <th scope="col">Number</th>
            </tr>
            </thead>
            <tbody>
            {{#infinityItem}}
                <tr>
                    <td>{{position}}</td>
                    <td>{{threadName}}</td>
                    <td>{{number}}</td>
                </tr>
            {{/infinityItem}}
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
