<div class="m-2 p-1 text-center">
    <p>You logged in as <strong>{{#user}}{{user}}{{/user}}</strong></p>
    <div class="d-flex justify-content-around">
        <a href="/statsDummy">Dummy stats</a>
        <a href="/statsCompletableFuture">Completable future stats</a>
        <a href="/infinity">Infinity</a>
    </div>
</div>